*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #efefef;
  --text-color: #242321;
  --gold-color: #efbf04;
  --primary-font: "Playfair Display", serif;
  --secondary-font: lora, sans-serif;
}

body,
html {
  height: 100vh;
  line-height: 1.5;
  text-align: center;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

/* ============= utilities =========== */

.container {
  padding: 2em;
  margin: 0 auto;
}

h1 {
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: 2.25rem;
}

h2 {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 1.8rem;
}

h3 {
  font-family: var(--secondary-font);
  font-size: 1.3rem;
  font-weight: 600;
}

h4 {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 500;
}

p {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
}

.footer,
.footer > p {
  font-size: 1rem;
}

button {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 200;
  color: var(--text-color);
  padding: 0.8em 2em;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 8px;
  border: 1.5px solid var(--text-color);
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  margin-block: 1em;
}

@media (hover: hover) and (pointer: fine) {
  button:hover,
  button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--text-color);
    transform: translateY(-0.25em);
  }
}

/* ============ header ========= */

.navbar {
  height: 80px;
  width: 100%;
  padding: 0 0.5em;
  z-index: 99;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgb(0 0 0 / 40%) 0 10px 20px, rgb(0 0 0 / 23%) 0 6px 6px;
}

header .scrolled {
  position: fixed;
  background: linear-gradient(#acabab 20%, #d3d3d3 50%, #fff 100%);
}

.logo {
  height: 60px;
  width: 60px;
}

.logo img {
  width: 100%;
}

.navbar ul {
  display: flex;
}

ul > li {
  display: inline;
  margin-left: 1em;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.8s;
  z-index: 1;
  position: relative;
}

li a {
  color: var(--text-color);
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
  li:hover {
    transform: translateY(2px);
  }

  li::after {
    content: "";
    opacity: 0;
    transition: all 0.8s;
  }

  li:hover::after {
    content: url("../public/assets/hover-gold.svg");
    height: 1em;
    width: 1em;
    opacity: 1;
    z-index: -1;
    position: absolute;
    left: 10px;
  }

  li:active {
    font-weight: 800;
  }
}

/* ============ hero section ========= */

section.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  inset: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: -15%;
  object-fit: contain;
  z-index: -1;
}

.hero .content {
  position: absolute;
  top: 20%;
  width: 100%;
  color: white;
  text-align: center;
  background-color: rgb(0 0 0 / 90%);
}

.hero p {
  margin: 1.25em;
  max-width: 90%;
}

/* ============ about me section ========= */

.about-me {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me p {
  margin-top: 1rem;
}

.about-me .my-photo {
  margin-top: 2em;
  width: 50%;
  position: relative;
}

.my-photo img {
  border-radius: 50%;
  opacity: 0.1;
  width: 100%;
}

.my-photo .colored-photo {
  position: absolute;
  background-image: url("../public/assets/catherine-colorised.png");
  background-size: contain;
  inset: 0;
  opacity: 0.1;
  top: 0;
  right: 0;
  border-radius: 50%;
  mask-image: url("../public/assets/mask-video.gif");
  mask-size: cover;
  mask-position: center;
  animation: add-animation linear forwards;
}

.about-me .content {
  margin-top: 4em;
}

/* ============ work section ========= */

.my-work .grid {
  padding: 1em;
  gap: 1em;
  display: grid;
  grid-template-columns: 1fr;
}

.my-work .card-background {
  background-color: var(--background-color);
  border-radius: 8px;
}

.my-work .card {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  position: relative;
}

.card-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 5px 5px 10px var(--text-color);
}

.card-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 8px;
  background-image: linear-gradient(to top, #333, #333 50%, #fff 100%);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.card-content:hover {
  opacity: 0.9;
}

.card-content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}

.my-work .card-content > h4 {
  color: var(--gold-color);
  margin-top: 15px;
}

.my-work .card-content > p {
  color: var(--background-color);
  width: 70%;
}

.my-work .card-background:hover {
  transform: translateY(1px);
  text-shadow: 3px 2px 2px #0005;
}

.my-work .work-btn {
  color: var(--text-color);
  padding: 0.8em 2em;
  cursor: pointer;
  transition: all 1s;
}

/* ========= contact ========== */

.contact {
  position: relative;
  overflow-x: clip;
}

.contact img {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(0.1);
  inset: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  z-index: -1;
}

.contact .contact-form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .contact-text {
  margin: 1em;
}

.contact form {
  width: 100%;
  padding: 1em;
  border: 1px solid var(--background-color);
  border-radius: 8px;
  font-family: var(--secondary-font);
  box-shadow: rgb(50 50 93 / 25%) 0 6px 12px -2px,
    rgb(0 0 0 / 30%) 0 3px 7px -3px;
}

form label {
  display: block;
  width: 2em;
  height: 2em;
  margin-top: 1em;
}

form label::after {
  content: "*";
  color: red;
}

form label,
form [placeholder] {
  font-family: inherit;
  font-size: 1rem;
}

form input,
form textarea {
  width: 100%;
  padding: 0.5em 1em;
  border: 0.8px solid var(--text-color);
  border-radius: 8px;
}

form textarea {
  resize: none;
  height: 3.75em;
}

form input:focus,
form textarea:focus {
  outline: none;
}

/* ========= footer ========== */
.footer {
  width: 100%;
  color: var(--text-color);
  padding: 1.5em 0;
  background: linear-gradient(#fff 20%, #d3d3d3 70%, #acabab 95%);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer span {
  font-family: var(--secondary-font);
  font-weight: 600;
}

.footer .email-link {
  text-decoration: none;
  font-family: var(--secondary-font);
  color: var(--text-color);
  position: relative;
  transition: all 0.8s ease-in-out;
}

.footer .email-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1.8px;
  left: 0;
  bottom: 0;
  background-color: var(--text-color);
  transition: all 0.8s ease-in-out;
}

.footer .email-link:focus::after,
.footer .email-link:hover::after {
  width: 100%;
}

.footer .email-link:active {
  font-weight: 800;
}

.footer .footer-logo {
  width: 5em;
  height: 5em;
  padding: 0.5em;
}

#footer-logo-img {
  width: 100%;
}

.social-links {
  margin-top: 1em;
  list-style: none;
  padding: 0;
}

.social-links li {
  margin-right: 10px;
}

.social-links i {
  cursor: pointer;
  color: var(--text-color);
  font-size: 2rem;
  padding: 0 1em;
  transition: all 0.5s ease-in-out;
}

.social-links i:hover,
.social-links i:focus {
  transform: translateY(-0.2em) scale(1.1);
}

/* ================== animation ================= */

@supports (animation-timeline: view()) {
  .hero img {
    transform-origin: top;
    animation: hero-animation linear forwards;
    animation-timeline: view();
    animation-range: exit -200px;
  }

  .about-me img {
    transform-origin: top;
    animation: about-me-animation linear forwards;
  }

  .contact img {
    animation: contact-animation linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }

  .hero .content {
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -300px;
  }

  .about-me .content {
    transform-origin: bottom;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
  }
}

@keyframes add-animation {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  95% {
    scale: 1.2;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hero-animation {
  25% {
    opacity: 1;
  }

  80%,
  100% {
    opacity: 0.2;
    scale: 1.5;
  }
}

@keyframes contact-animation {
  50% {
    transform: scale(0.5);
  }

  70% {
    transform: scale(0.7);
  }

  100% {
    opacity: 0.3;
    transform: scale(1.2);
  }
}

/* ========== responsive design ========== */

@media (width >= 768px) and (width <= 1024px) {
  h1 {
    font-size: 3rem;
  }

  ul > li,
  p {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  section.hero {
    flex-direction: row;
  }

  .about-me {
    flex-direction: row;
  }

  .about-me .content {
    width: 450px;
    margin: 2em;
  }

  .my-work .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .my-work .card-content > p {
    font-size: 1.2rem;
  }

  .contact .contact-text {
    width: 80%;
  }

  .contact form {
    width: 80%;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .footer .footer-text {
    order: 1;
  }

  .footer .footer-logo {
    order: 2;
  }

  .footer .social-links {
    order: 3;
  }
}

@media (width > 1024px) {
  .navbar {
    justify-content: space-between;
    padding: 0 1.2em;
  }

  ul > li,
  p {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.9rem;
  }

  section.hero {
    flex-direction: row;
  }

  .hero .content {
    color: var(--text-color);
    background: none;
    right: 0;
    max-width: 700px;
  }

  .about-me {
    flex-direction: row;
  }

  .about-me .content {
    width: 70%;
    padding: 2em 6em;
  }

  .about-me .my-photo {
    width: 30%;
  }

  .my-work .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .my-work .card-content > p {
    font-size: 1.2rem;
  }

  .contact .contact-form {
    flex-direction: row;
  }

  .contact .contact-text {
    width: 55%;
    padding: 0 3em;
  }

  .contact form {
    max-width: 45%;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .footer .footer-text {
    order: 1;
  }

  .footer .footer-logo {
    order: 2;
  }

  .footer .social-links {
    order: 3;
  }
}
