*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #efefef;
  --text-color: #242321;
  --gold-color: #efbf04;
  --primary-font: "Playfair Display", serif;
  --secondary-font: lora, sans-serif;
}

body,
html {
  height: 100vh;
  line-height: 1.5;
  text-align: center;
}

.container {
  padding: 2em;
  margin: 0 auto;
}

h2 {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 3rem;
}

h3 {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 400;
}

/* ============ navigation bar ========= */

.navbar {
  height: 100px;
  padding: 0 0.5em;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 19%) 0px 10px 20px, rgba(0, 0, 0, 23%) 0px 6px 6px;
}

.logo {
  height: 60px;
  width: 60px;
}

.logo img {
  width: 100%;
}

.navbar ul {
  display: flex;
}

ul > li {
  display: inline;
  margin-left: 1em;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 1;
  position: relative;
}

li a {
  color: var(--text-color);
  text-decoration: none;
}

li:hover {
  transform: translateY(2px);
  text-shadow: 1px 5px 1px #0005;
}

li:hover::after {
  content: url("../public/assets/hover-gold.svg");
  height: 2px;
  width: 2px;
  opacity: 0.8;
  position: absolute;
  left: 10px;
}

li:active {
  font-weight: 800;
}

/* ============ hero section ========= */

section.hero {
  display: grid;
  padding-block: 7rem;
  height: 800px;
  position: relative;
  overflow-x: clip;
}

.hero img {
  grid-column: 1/-1;
  width: 80%;
  height: 80%;
  inset: 0;
  opacity: 0.8;
  position: absolute;
  object-fit: contain;
  z-index: -1;
}

.hero .content {
  padding: 2em;
  position: absolute;
  top: 15%;
  width: 100%;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 90%);
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -300px;
}

h1 {
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: 8vw;
}

.hero p {
  margin-top: 1.25em;
  padding: 0 1em;
}

/* ============ about me section ========= */

#about-me {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me p {
  color: var(--text-color);
  margin-top: 1rem;
}

#about-me .my-photo {
  margin-top: 2em;
  width: 60%;
  position: relative;
}

.my-photo img {
  border-radius: 50%;
  opacity: 0.1;
  width: 100%;
}

.my-photo .colored-photo {
  position: absolute;
  background-image: url("../public/assets/catherine-colorised.png");
  background-size: contain;
  inset: 0;
  opacity: 0.1;
  top: 0;
  right: 0;
  border-radius: 50%;
  mask-image: url("../public/assets/mask-video.gif");
  mask-size: cover;
  mask-position: center;
  transform-origin: top;
  animation: add-animation linear forwards;
}

#about-me .content {
  margin-top: 3em;
}

/* ============ work section ========= */

#work .grid {
  margin-top: 3em;
  gap: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 1fr;
}

#work .card-background,
#work .work-btn {
  color: var(--text-color);
  padding: 0.8em 2em;
  cursor: pointer;
  transition: all 1s;
}

#work .card-background {
  background-color: var(--background-color);
  border-radius: 8px;
}

.card {
  grid-column: 1/-1;
  position: relative;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 5px 5px 10px var(--text-color);
}

.card-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 8px;
  background-image: linear-gradient(to top, #333, #333 50%, #fff 100%);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.card-content:hover {
  opacity: 0.9;
}

.card-content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}

.card-content h3 {
  color: var(--gold-color);
  margin-top: 15px;
}

.card-content p {
  color: var(--background-color);
  width: 70%;
}

#work .card-background:hover {
  transform: translateY(1px);
  text-shadow: 3px 2px 2px #0005;
}

#work .work-btn {
  margin-top: 1em;
  font-family: var(--secondary-font);
  background-color: transparent;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 8px;
  position: relative;
  text-decoration: none;
  transition: all 1s;
  border: 1.5px solid var(--text-color);
}

#work .work-btn:hover,
#work .work-btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--text-color);
  transform: translateY(-0.25em);
}

/* ========= contact ========== */

#contact {
  position: relative;
  overflow-x: clip;
}

#contact img {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(0.2);
  inset: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0px;
  object-fit: contain;
  z-index: -1;
  animation: contact-animation linear forwards;
  animation-timeline: view();
  animation-range: entry;
}

#contact .container {
  margin: 2em 0;
}

#contact .contact-form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact .contact-text {
  margin: 1em;
}

.contact-text h3 {
  margin-bottom: 0.5em;
}

#contact form {
  margin-top: 1em;
  width: 85%;
  padding: 1em;
  border: 1px solid var(--background-color);
  border-radius: 8px;
  font-family: var(--secondary-font);
  box-shadow: rgba(50, 50, 93, 25%) 0px 6px 12px -2px,
    rgba(0, 0, 0, 30%) 0px 3px 7px -3px;
}

form label {
  display: block;
  width: 2em;
  height: 2em;
  margin-top: 1em;
}

form label::after {
  content: "*";
  color: red;
}

form label,
form [placeholder] {
  font-family: inherit;
  font-size: 1rem;
}

form input,
form textarea {
  width: 100%;
  padding: 0.6em 1em;
  border: 0.8px solid var(--text-color);
  border-radius: 8px;
}

form textarea {
  resize: none;
}

form input:focus,
form textarea:focus {
  outline: none;
}

form button {
  padding: 0.6em 5em;
  margin-top: 1em;
  background-color: transparent;
  font-size: 1rem;
  letter-spacing: 1px;
  border: 1.5px solid var(--text-color);
  font-family: var(--secondary-font);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

form button:hover,
form button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--text-color);
  transform: translateY(-0.25em);
}

/* ========= footer ========== */
.footer {
  width: 100%;
  color: var(--text-color);
  padding: 1.5em 0;
  background: linear-gradient(#fff 20%, #d3d3d3 70%, #acabab 95%);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer span {
  font-family: var(--secondary-font);
  font-weight: 600;
}

.footer .email-link {
  text-decoration: none;
  font-family: var(--secondary-font);
  color: var(--text-color);
  position: relative;
  transition: all 0.8s ease-in-out;
}

.footer .email-link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 1.8px;
  left: 0;
  bottom: 0;
  background-color: var(--text-color);
  transition: all 0.8s ease-in-out;
}

.footer .email-link:hover:after {
  width: 100%;
}

.footer .email-link:active {
  font-weight: 800;
}

.footer .footer-logo {
  width: 5em;
  height: 5em;
  padding: 0.5em;
}

.footer-logo img {
  width: 100%;
}

.social-links {
  margin-top: 0.5em;
  list-style: none;
  padding: 0;
}

.social-links li {
  margin-right: 10px;
}

.social-links i {
  cursor: pointer;
  color: var(--text-color);
  font-size: 2rem;
  padding: 0 1em;
  transition: all 0.5s ease-in-out;
}

.social-links i:hover,
.social-links i:focus {
  transform: translateY(-0.2em) scale(1.1);
}

/* ================== animation ================= */
@supports (animation-timeline: view()) {
  .hero img {
    transform-origin: top;
    animation: hero-animation linear forwards;
    animation-timeline: view();
    animation-range: exit -200px;
  }

  .about-me img {
    animation: about-me-animation linear forwards;
  }
}

@keyframes add-animation {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  95% {
    scale: 1.2;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hero-animation {
  25% {
    opacity: 1;
  }

  80%,
  100% {
    opacity: 0.2;
    scale: 1.5;
  }
}

@keyframes contact-animation {
  50% {
    transform: scale(0.5);
  }

  70% {
    transform: scale(0.7);
  }

  100% {
    opacity: 0.3;
    transform: scale(1.2);
  }
}

/* ========== responsive design ========== */

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 6vw;
  }

  ul > li {
    font-size: 1.5rem;
  }

  .hero .content {
    max-width: 800px;
  }

  .hero p {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  #about-me {
    flex-direction: row;
  }

  #about-me .content {
    max-width: 500px;
    padding: 0 1em;
  }

  #about-me p {
    font-size: 1.45rem;
  }

  #contact .contact-text {
    max-width: 800px;
  }

  #contact h3 {
    font-size: 1.8rem;
  }

  #contact p {
    font-size: 1.3rem;
  }

  form label,
  form [placeholder] {
    font-size: 1rem;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .footer .footer-text {
    order: 1;
  }

  .footer .footer-logo {
    order: 2;
  }

  .footer .social-links {
    order: 3;
  }
}

@media (min-width: 1024px) {
  .navbar {
    justify-content: space-between;
    padding: 0 1.2em;
  }

  ul > li {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 4rem;
  }

  .content p {
    font-size: 1.2rem;
  }

  .hero .content {
    color: var(--text-color);
    background: none;
    right: 0;
    max-width: 800px;
  }

  h2 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.3rem;
  }

  #about-me {
    flex-direction: row;
  }

  #about-me .content {
    max-width: 1200px;
    margin: 0;
    padding: 2em;
  }

  #about-me p {
    font-size: 1.3rem;
  }

  #work .grid {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  #contact .contact-form {
    flex-direction: row;
  }

  #contact h3 {
    font-size: 1.8rem;
  }

  #contact p {
    font-size: 1.3rem;
  }

  #contact .contact-text {
    width: 800px;
    padding: 0 3em;
  }

  #contact form {
    max-width: 600px;
  }

  form label,
  form [placeholder] {
    font-size: 1.2rem;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
  }

  .footer .footer-text {
    order: 1;
  }

  .footer .footer-logo {
    order: 2;
  }

  .footer .social-links {
    order: 3;
  }
}
