*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #efefef;
  --text-color: #242321;
}

body,
html {
  height: 100vh;
  line-height: 1.5;
}

/* ============ navigation bar ========= */

.navbar {
  height: 100px;
  padding: 0 1em;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.logo {
  height: 50px;
  width: 50px;
}

.navbar ul {
  display: flex;
}

ul > li {
  display: inline;
  margin-left: 1em;
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 1;
  position: relative;
}

li a {
  color: #242321;
  text-decoration: none;
}

li:hover {
  transform: translateY(2px);
  text-shadow: 1px 5px 1px #0005;
}

li:hover::after {
  content: url("../public/assets/hover-gold.svg");
  height: 2px;
  width: 2px;
  opacity: 0.8;
  position: absolute;
  left: 10px;
}

li:active {
  font-weight: 800;
}

/* ============ hero section ========= */
section.hero {
  display: grid;
  padding-block: 7rem;
  height: 100svh;
  position: relative;
  overflow-x: clip;
}

.hero img {
  grid-column: 1/-1;
  inset: 0;
  width: 100%;
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  transform-origin: bottom;
  animation: hero-animation linear forwards;
  animation-timeline: view();
  animation-range: exit;
}

.hero .content {
  padding: 2em;
  position: absolute;
  top: 15%;
  right: 0;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 70%);
  max-width: 900px;
  border-radius: 15px;
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -500px;
}

.content h1 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 2.5vw;
  text-shadow: 2px 2px 2px #000;
}

.content p {
  margin-top: 1.25em;
  font-family: Lora, sans-serif;
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px #000;
}

/* animation */
@keyframes fade-out {
  95% {
    scale: 1.2;
  }

  to {
    opacity: 0;
  }
}

@keyframes hero-animation {
  25% {
    opacity: 1;
  }

  80%,
  100% {
    opacity: 1;
    scale: 3;
  }
}
