*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #efefef;
  --text-color: #242321;
}

body,
html {
  height: 100vh;
  line-height: 1.5;
  text-align: center;
}

.container {
  padding: 2em;
  margin: 0 auto;
}

h2 {
  font-family: "Playfair Display", serif;
  color: var(--text-color);
  font-size: 3rem;
}

h3 {
  font-family: Lora, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: whitesmoke;
}

p {
  font-family: Lora, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

/* ============ navigation bar ========= */

.navbar {
  height: 100px;
  padding: 0 0.5em;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.logo {
  height: 50px;
  width: 50px;
}

.navbar ul {
  display: flex;
}

ul > li {
  display: inline;
  margin-left: 1em;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 1;
  position: relative;
}

li a {
  color: #242321;
  text-decoration: none;
}

li:hover {
  transform: translateY(2px);
  text-shadow: 1px 5px 1px #0005;
}

li:hover::after {
  content: url("../public/assets/hover-gold.svg");
  height: 2px;
  width: 2px;
  opacity: 0.8;
  position: absolute;
  left: 10px;
}

li:active {
  font-weight: 800;
}

/* ============ hero section ========= */

section.hero {
  display: grid;
  padding-block: 7rem;
  height: 800px;
  position: relative;
  overflow-x: clip;
}

.hero img {
  grid-column: 1/-1;
  width: 80%;
  height: 80%;
  inset: 0;
  opacity: 0.8;
  position: absolute;
  object-fit: contain;
  z-index: -1;
}

.hero .content {
  padding: 2em;
  position: absolute;
  top: 15%;
  width: 100%;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -300px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 8vw;
}

.hero p {
  margin-top: 1.25em;
  padding: 0 1em;
}

/* ============ about me section ========= */

#about-me {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: var(--text-color);
  margin-top: 1rem;
}

#about-me .my-photo {
  margin-top: 2em;
  width: 60%;
  position: relative;
}

.my-photo img {
  border-radius: 50%;
  opacity: 0.1;
  width: 100%;
}

.my-photo .colored-photo {
  position: absolute;
  background-image: url("../public/assets/catherine-colorised.png");
  background-size: contain;
  inset: 0;
  opacity: 0.1;
  top: 0;
  right: 0;
  border-radius: 50%;

  mask-image: url(../public/assets/mask-video.gif);
  mask-size: cover;
  mask-position: center;
  transform-origin: top;
  animation: add-animation linear forwards;
}

#about-me .content {
  margin-top: 3em;
}

/* ============ work section ========= */

#work .grid {
  margin-top: 3em;
  gap: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
  grid-column: 1/-1;
  position: relative;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 8px;
  background-image: linear-gradient(to top, #333, #333 50%, #fff 100%);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.card-content:hover {
  opacity: 0.9;
}

.card-content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}

.card-content h3 {
  color: #efbf04;
  margin-top: 15px;
}

.card-content p {
  color: var(--background-color);
  width: 70%;
}

#work a {
  background: none;
  color: var(--text-color);
  border: none;
  font-family: "Playfair Display", sans-serif;
  font-weight: 800;
  padding: 1em;
  letter-spacing: 1px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 1s;
}

#work a:hover {
  transform: translateY(1px);
  text-shadow: 2px 2px 1px #0005;
}

/* ================== animation ================= */
@supports (animation-timeline: view()) {
  .hero img {
    transform-origin: top;
    animation: hero-animation linear forwards;
    animation-timeline: view();
    animation-range: exit -200px;
  }

  .about-me img {
    transform-origin: top;
    animation: about-me-animation linear forwards;
    animation-timeline: view();
    animation-range: exit -300px;
  }
}

@keyframes add-animation {
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  95% {
    scale: 1.2;
  }

  to {
    opacity: 0;
  }
}

@keyframes hero-animation {
  25% {
    opacity: 1;
  }

  80%,
  100% {
    opacity: 0.2;
    scale: 1.5;
  }
}

/* ========== responsive design ========== */

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 6vw;
  }

  ul > li {
    font-size: 1.5rem;
  }

  .hero .content {
    max-width: 800px;
  }

  .hero p {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  #about-me {
    flex-direction: row;
  }

  #about-me .content {
    max-width: 500px;
    padding: 0 1em;
  }

  #about-me p {
    font-size: 1.45rem;
  }
}

@media (min-width: 1024px) {
  .navbar {
    justify-content: space-between;
    padding: 0 1.2em;
  }

  ul > li {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 4rem;
  }

  .content p {
    font-size: 1.2rem;
  }

  .hero .content {
    color: var(--text-color);
    background: none;
    right: 0;
    max-width: 800px;
  }

  h2 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.3rem;
  }

  #about-me {
    flex-direction: row;
  }

  #about-me .content {
    max-width: 1200px;
    margin: 0;
    padding: 2em;
  }

  #about-me p {
    font-size: 1.3rem;
  }
}
